*.*sdf
*.cache
*.docstates
*.ipch
*.pidb
*.psess
*.sln.ide
*.suo
*.user
*.userprefs
*.vsp
*DS_Store
.nuget/
.vs/
PublishProfiles/
TestResults/
[Bb]in/
[Oo]bj/
artifacts/
nuget.exe
packages/
project.lock.json
node_modules/